body {
    background: #f2f2f2;
    font-family: Arial;
    padding: 20px;
    margin: 0;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
}

nav a {
    text-decoration: none;
    background: #ddd;
    padding: 6px 10px;
    margin-right: 8px;
    color: black;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.btn {
    background: green;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}