

body{
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.container{
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
}

nav a{
    text-decoration: none;
    background: #ddd;
    padding: 6px 10px;
    margin-right: 8px;
    color: black;
}


.card{
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    width: 230px;
    display: inline-block;
    vertical-align: top; 
    margin-right: 10px;
}


.card img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
}

.btn{
    display: inline-block;
    background: green;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    margin-top: 5px;
}
