body {
    background: #f2f2f2;
    font-family: Arial;
    padding: 20px;
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
}

nav a {
    text-decoration: none;
    background: #ddd;
    padding: 6px 10px;
    margin-right: 8px;
    color: black;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    margin-top: 10px;
}
