body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
}

nav a {
    text-decoration: none;
    background: #ddd;
    padding: 6px 10px;
    margin-right: 8px;
    color: black;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 12px;
    background: #fff;
}

.item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}

.clear {
    clear: both;
}

.btn {
    background: green;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
}
